<div class="guide-login">
    <fieldset class="title">
      <div class="top"></div>
      <div class="content">Welcome to the games Dashboard</div>
    </fieldset>
    <fieldset class="logo">
        <span></span>
        <div></div>
    </fieldset>
    <fieldset class="from">
        <div class="from-input"><input type="text" name = "email" placeholder="Email address"/></div>
        <div class="from-input"><input type="password" name = "password" placeholder="User password"/></div>
        <div class="from-input"><input class="submit" type="button" value="Sign in" type="text"/></div>
    </fieldset>
</div>

