<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>this is mobile page</title>
    <style>
      #demo {
        font-family: 'Helvetica', Arial, sans-serif;
      }
      a {
        text-decoration: none;
        color: #f66;
      }
      li {
        line-height: 1.5em;
        margin-bottom: 20px;
      }
      .author, .date {
        font-weight: bold;
      }
    </style>
    <script src="lib/vue.min.js" type="text/javascript" charset="utf-8" async defer></script>
    <script src="lib/jquery.min.js" type="text/javascript" charset="utf-8" async defer></script>
</head>
<body>
	<div class="app">
	  <p>{{ message }}</p>
	  <input v-model="message">
	</div>
    <hr>
    <div class="table">
    	<div v-for="data in datas">
    		{{data.text}}
    	</div>
	</div>
    <hr>
    <div class="user-input">
  	<div v-bind:class="{ 'class-a': classA, 'class-b': classB }" v-bind:style="styleObject">
  		{{message}},
  		{{b}}
  	</div>
  	<button @click="remessage">click</button>
  	</div>
    <hr>
    <h1 v-show="false">Yes</h1>
    <hr>
    <script src="modules/Demo/js/commit.js" type="text/javascript" charset="utf-8" async defer></script>
</body>
</html>